html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

ul[class],
ol[class] {
	padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

ul [class] {
	list-style: none;
}

img {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select {
	font: inherit;
}

a {
	text-decoration: none;
}

/*  */
/*  */
/* font-family: 'Merriweather', serif; */

body {
	min-height: 100vh;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 24px;
	color: #373a39;
}

.container {
	max-width: 1190px;
	padding: 0 10px;
	margin: 0 auto;
}

.title {
	align-self: flex-start;
	font-size: 60px;
	line-height: 75px;
	font-weight: 700;
	letter-spacing: -1.65px;
	font-family: 'Montserrat', sans-serif;
	color: #242121;
	position: relative;
}

.title::after {
	content: '';
	position: absolute;
	width: 60px;
	height: 4px;
	background-color: #fcbb08;
	bottom: 0;
	left: 0;
}

.header__top-inner {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding-bottom: 29px;
}

.menu__list {
	display: flex;
}

.menu__list-item + .menu__list-item {
	margin-left: 32px;
}

.menu__list-link {
	padding: 0 9px 9px;
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
	color: #373a39;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 0.6px;
	transition: all 0.5s;
}

.menu__list-link:hover {
	border-bottom: 1px solid #fcbb08;
}

.header__content {
	background-image: url(../images/header-bg.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: Montserrat, sans-serif;
}

.header__content-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: calc(100vh - 94px);
}

.header__title {
	font-weight: 500;
	font-size: 72px;
	line-height: 88px;
	color: #ffffff;
	margin-top: auto;
	margin-bottom: 19px;
}

.header__subtitle {
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 2.743px;
	color: #fcbb08;
	margin-bottom: 180px;
}

.header__icon {
	margin-bottom: 60px;
}

.about {
	background-color: #f6f8fa;
	padding: 150px 1px 144px;
}

.about__inner {
	display: flex;
	justify-content: space-between;
}

.about__title {
	font-size: 48px;
}

.about__text p {
	max-width: 770px;
	margin-bottom: 16px;
}
